.CompletedModal {

}

.CompletedModal .Text {
    z-index: 99;
    background-color: white;
    position: relative;
    width: fit-content;
    padding: 32px;
    margin: auto;
    border-radius: 4px;
    border: 1px solid grey;
}