@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bebebe2b;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 120px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #bebebe2b;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
  border-radius: 4px;
}
